<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stamina</key>
	<string>100</string>
	<key>chap_1</key>
	<string>1</string>
	<key>chap_2</key>
	<string>2</string>
	<key>chap_3</key>
	<string>3</string>
	<key>chap_4</key>
	<string>4</string>
	<key>chap_5</key>
	<string>5</string>
</dict>
</plist>
